[tool.poetry]
name = "edgedb-pydantic-codegen"
version = "2024.01.2"
description = "Alternative Python EdgeDB code generator (Pydantic V2 + asyncio, FastAPI compatible)"
authors = ["NextFire <git@yuru.moe>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Japan7/edgedb-pydantic-codegen"

[tool.poetry.scripts]
edgedb-pydantic-codegen = "edgedb_pydantic_codegen.__main__:cli"

[tool.poetry.dependencies]
python = "^3.11"
edgedb = "^1.0.0"
pydantic = "~2"
orjson = "^3.8.0"
jinja2 = "^3.1.2"
ruff = "^0.1.2"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.333"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
pythonVersion = "3.11"

[tool.ruff]
target-version = "py311"
